@charset "UTF-8";
@font-face {
	font-family: 'FonteLogo';
	src: url("hello-honey.otf");
}

@font-face {
	font-family: 'HelloAnnie';
	src: url("hello-annie.otf");
	
}

body {
	background-color: #c7d7db;
	color: #3a2a15;
	font-family: 'HelloAnnie',sans-serif;
	font-size: 20pt;
}

p {
	text-align: justify;
	text-indent: 50px;
	
}
div#interface {
	width: 950px;
	background-color: #ffffff;
	margin: -15px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(89,63,25,.6);
	padding: 10px;
}

header#cabecalho {
	border-bottom: 2.2px #b09469 solid;
	height: 130px;
}
header#cabecalho h1 {
	font-family: 'FonteLogo', serif;
	font-size: 50pt;
	color: rgba(89,63,25,1);
	padding: 0px;
	margin: 10px 5px 0px 0px; 
	text-shadow: 1px 1px 15px rgba(235,211,189,1);
}

header#cabecalho h2 {
	font-family: 'HelloAnnie', sans-serif;
	font-size: 18pt;
	color: #593f19;
	padding: 0px;
	margin-top: 0px;
	text-shadow: 1px 1px 15px rgba(235,211,189,1);
	
}

figure.foto-logo img {
	width: 60%;
	height: 60%;
	float: center;
	margin: 20px 80px 5px 260px;
}




/* Formatação do menu */

nav#menu {
	display: block;
	position: absolute;
	top: -20px;
	left: 265px;
	font-size: 18px;
	font-family: 'FonteSegunda';
}


nav#menu ul {
	list-style: none;
	text-transform: uppercase;
}

nav#menu li {
	display: inline-block;
	background-color: #ebd3bd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #b09469;
	
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: #593f19;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;

}

section#corpo {
	display: block;
	width: 600px;
	float: left;
	border-right: 1px solid #b09469;
	padding-right: 20px;
}

aside#lado {
	display: block;
	width: 300px;
	float: right;
	padding: 10px;
}

table#tabela {
	border: 1px solid #b09469;
	border-spacing: 0px;
	margin-top: 20px;
	margin-left: 30px;
}

table#tabela td {
	border: 1px solid #b09469;
	padding: 15px;
}


footer#rodape {
	clear: both;
	
}

footer#rodape p {
	border-top: 1px solid #b09469;
	padding: 18px;
	text-align: center;
}